name: wordpress Deployment to EKS
on: 
  push: 
    branches: 
      - main

jobs: 
  wordpress-deployment:
    runs-on: ubuntu-latest
    steps: 
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key:  ${{ secrets.AWS_SECRET_KEY }}


      - name: "Install kubectl"
        uses: azure/setup-kubectl@v3
        with: 
            version: "v1.19.3"
        id: "install-kubectl"



      - name: "Install Helm"
        uses: azure/setup-helm@v4.2.0
        id: "install-helm"

      - name: "Connect to the cluster"
        run: |
          aws eks update-kubeconfig --region us-east-1 --name my-cluster

      - name: "Helm to Deploy Wordpress"
        run: |
          helm upgrade --install wordpress wordpress -f wordpress/values.yaml --set image.repository=wordpress:php7.4-apache --set replicaCount=2
 
          
  
       
